{
    email {$ACME_EMAIL}
}

app.fckdc.com {
    root * /var/www/fckdc

    route {
        @api {
            path /api/*
            path /uploads/*
            path /socket.io/*
        }
        reverse_proxy @api server:3001

        try_files {path} /index.html
        file_server
    }
}

{$OPENCODE_DOMAIN} {
    reverse_proxy opencode:4096
}

{$PAPERCLIP_DOMAIN} {
    reverse_proxy paperclip:3100
}

{$HERMES_DOMAIN} {
    reverse_proxy hermes:8642
}

{$OPENCLAW_DOMAIN} {
    reverse_proxy openclaw:18789
}
